:root {
    --red-1: #F85F51;
    --red-2: #F85F51;
    --red-3: #FF3434;
    --red-4: #FA1F13;
    
    --pink-1: #EDD5C5;
    --pink-2: #f7a295;
    --pink-3: #D0706D;
    --pink-4:  #F51FC6;
    
    --purple-1: #c2c3e6;
    --purple-2: #DA96EB;
    --purple-3: #EB7CF7;
    --purple-4: #FF55FF;
    
    --indigo-1: #568ee1;
    --indigo-2: #346FB0;
    --indigo-3: #656FF7;
    --indigo-4: #6269F1; 
    
    --blue-1: #ADDFE5;
    --blue-2: #88D1EA;
    --blue-3: #63D9F6;
    --blue-4: #52CADF;
    
    --green-1: #b7ec5a;
    --green-2: #E6F784;
    --green-3: #07D877;
    --green-4: #00DF61;
    
    --teal-1: #a1ccbd;
    --teal-2: #87b9b0;
    --teal-3: #30a8aa;
    --teal-4: #236669;
    
    --yellow-1: #f4ec94;
    --yellow-2: #f7e37a;
    --yellow-3: #EFBB44;
    --yellow-4: #E6AA00;
    
    --orange-1: #FC887B;
    --orange-2: #fb5e53;
    --orange-3: #f8605a;
    --orange-4: #FF0032;
    
    --gray: #949494;
    --gray-0: #949494;
    --gray-1: #7F7F7F;
    --gray-2: #6B6B6B;

    --gray-blue-1: #607D8B;
    --gray-blue-2: #425F6D;
    --gray-blue-3: #244351;
    --gray-blue-4: #042936;

    --black-1: #1C1C1C;
    --black-2: #2F2F2F;
    --black-3: #424242;
    --black-4: #575757;

    --white: #FFFF;
    
}
    