:root {
    --red-1: #FC4444;
    --red-2: #FD373E;
    --red-3: #FE2539;
    --red-4: #FF0034;
    
    --pink-1: #FE9DBE;
    --pink-2: #FF7BBA;
    --pink-3: #FF53BC;
    --pink-4: #FF00C3;
    
    --purple-1: #CCABDA;
    --purple-2: #DA96EB;
    --purple-3: #EB7CF7;
    --purple-4: #FF55FF;
    
    --indigo-1: #346FB0;
    --indigo-2: #2C8ACC;
    --indigo-3: #1DA6E6;
    --indigo-4: #00C2FF;
    
    --blue-1: #A1CADC;
    --blue-2: #88D1EA;
    --blue-3: #63D9F6;
    --blue-4: #00E1FF;
    
    --green-1: #3EC895;
    --green-2: #24D088;
    --green-3: #07D877;
    --green-4: #00DF61;
    
    --teal-1: #3AADA8;
    --teal-2: #33BFBB;
    --teal-3: #26D1D0;
    --teal-4: #00E3E5;
    
    --yellow-1: #FFDD95;
    --yellow-2: #F7CC6E;
    --yellow-3: #EFBB44;
    --yellow-4: #E6AA00;
    
    --orange-1: #FC887B;
    --orange-2: #FF6C62;
    --orange-3: #FF4A49;
    --orange-4: #FF0032;
    
    --gray: #949494;
    --gray-0: #949494;
    --gray-1: #7F7F7F;
    --gray-2: #6B6B6B;

    --gray-blue-1: #607D8B;
    --gray-blue-2: #425F6D;
    --gray-blue-3: #244351;
    --gray-blue-4: #042936;

    --black-1: #1C1C1C;
    --black-2: #2F2F2F;
    --black-3: #424242;
    --black-4: #575757;

    --white: #FFFF;
    
}
    