.CROWNTable {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 0 8px 0 #d3d3d3;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;

  .Header {
    color: var(--white);
    background-color: var(--orange-4);
    height: 50px;
  }
  .Body {
    text-align: center;
    color: var(--gray);
    height: 40px;
  }
}
