.CROWNButton {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    border-radius: 30px;
    width: -webkit-fill-available;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
  .CROWNButton:hover{
    opacity: 0.9;
  }