.CROWNButton {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    width: -webkit-fill-available;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 30px;
    cursor: pointer;
    &.Round{
      border-radius: 30px;
    }
    &.SemiRound{
      border-radius: 10px;
    }
}
.CROWNButton:hover{
  opacity: 0.9;
}